<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>183543852622-rn3rntbah91hnb6si1d8d6ha1ccsoilq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.183543852622-rn3rntbah91hnb6si1d8d6ha1ccsoilq</string>
	<key>API_KEY</key>
	<string>AIzaSyA4Q00Deyb684LnFsYIjqN_D4fRJh0hUYw</string>
	<key>GCM_SENDER_ID</key>
	<string>183543852622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ivica.petrsoric.LikeTinder</string>
	<key>PROJECT_ID</key>
	<string>liketinder-1ffcf</string>
	<key>STORAGE_BUCKET</key>
	<string>liketinder-1ffcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183543852622:ios:02635b31adf3bc5e</string>
	<key>DATABASE_URL</key>
	<string>https://liketinder-1ffcf.firebaseio.com</string>
</dict>
</plist>